:root
{
    --main-bg-color : #E0E0E0;
    --footer-bg-color: #c79f9f;
    --main-text-color: #FFFFFF;
    --alternative-color: #AC70CA;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.grid-container
{
    height:90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   

#grid
{
  height: 90%;
  width: 40%;
  background-color: #78b4a7;
}

.footer
{
    height: 10%;
    display: flex;
    align-items: center;
    width:90%;
}

/* colorpicker style */

#color-picker
{
    -webkit-appearance: none;
    appearance: none;
    border: none;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}
#color-picker:hover
{
    transform: scale(1.2);

}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
  }

#color-picker::-webkit-color-swatch
{
    border: none;
    border-radius: 50px;
}


/* reset icon styling */

#reset-icon
{
    font-size: 40px;
    color: var(--alternative-color);
    margin-right: 10px;
}


#reset-icon:hover
{
    transform: scale(1.2);
}





.slidecontainer
{
    
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

